{% extends "userin/base.html" %}
{% load static %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      {% if cabbed %}
        <h1>Thanks! Cab registered.</h1>
      {% else %}
        <h3>Just fill out the form.</h3>
        <form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ looking_cab_form.as_p }}
          <input type="submit" name="" value="Done">
        </form>
        
      {% endif %}
    </div>
  </div>
{% endblock %}